.page{
    position: relative;
    width: 2200px;
    height: 1117px;
    
    background: #111111;

}
.left{
    position: fixed;
    height: 1075px;
    width: 373px;
    left: 21px;
    top: 19px;
    border-radius: 50px;
    background: #262626;
    border-radius: 50px;
}
.image-1{
    box-sizing: border-box;
    position: absolute;
    width: 222px;
    height: 222px;
    left: 76px;
    top: 75px;
    border: 2px solid #333333;
    border-radius: 1000px;
}
.name{
    position: relative;
    width: 132px;
    height: 36px;
    left: 121px;
    top: 321px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;

}
.Billionaire{
    position: absolute;
width: 87px;
height: 27px;
left: 144px;
top: 337px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: rgba(255, 255, 255, 0.5);
}
.btn-1{
    height: 27px;
    width: 121px;
    left: 127px;
    top: 447px;
    border-radius: nullpx;
    position: absolute;
    width: 298px;
    height: 61px;
    left: 38px;
    top: 430px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background: #111111;
    border-radius: 30px;

}
.btn-2{
    position: absolute;
    width: 298px;
    height: 61px;
    left: 38px;
    top: 515px;
    background: #111111;
    border-radius: 30px;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.btn-3{
    position: absolute;
    width: 298px;
    height: 61px;
    left: 38px;
    top: 599px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background: #111111;
    border-radius: 30px;
}
.div-2{
    box-sizing: border-box;

position: absolute;
width: 1323px;
height: 588px;
left: 415px;
top: 19px;

background: #262626;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
}
.div-2 h2{
position: relative;
width: 231px;
height: 36px;
left: 53px;
top: 75px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #FFFFFF;
}

.content{
    position: absolute;
    width: 472px;
    height: 430px;
    left: 53px;
    top: 146px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: rgba(255, 255, 255, 0.5);

}
.content a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: rgba(255, 255, 255, 0.5);

}

aside{
    position: absolute;
    width: 722px;
    height: 430px;
    left: 556px;
    top: 127px;
    background: #262626;

    border-radius: 20px;
}

.div-3{
    box-sizing: border-box;

    position: absolute;
    width: 1323px;
    height: 464px;
    left: 415px;
    top: 636px;

    background: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.div-3 h2{
    position: relative;
    width: 199px;
    height: 43px;
    left: 56px;
    top: 37px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
}

table{
    box-sizing: border-box;
    table-layout: auto;
    position: relative;
    width: 1227px;
    height: 331px;
    left: 62px;
    top: 18px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    border-collapse: collapse;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    
    


}
.border{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
}

td{
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: rgba(255, 255, 255, 0.5);
}
.year{
    text-align: center;
}